<div>
  <a href="#" onclick="$('.slider').liteAccordion('next');"  class="btn btn-success" style="overflow:hidden;margin-top:20px;margin-left: 25px;height:160px;width:370px;border-radius: 20px;">
      <img src="/assets/docs.jpeg" style="margin-left: 240px;margin-top:-10px;height:270px;width:270px">

      <div style="margin-top: -230px;margin-left: -140px; font-size: 36px;color:black;">ProductPro</div>
      <div style="margin-top: 20px;margin-left: 10px;width:210px;color:black; font-size: 14px;">
        Tutorials to understand the <br>nitty-gritties of the products <br>that you deal with<br>in your job...
      </div>
    </a>

  <a href="#" onclick="$('.slider').liteAccordion('next').liteAccordion('next');" class="btn btn-warning" style="overflow:hidden;margin-top:10px;margin-left: 25px;height:160px;width:370px;border-radius: 20px;">
      <img src="/assets/family-papers-400.jpg" style="margin-left: 240px;margin-top:-10px;height:270px;width:270px">

      <div style="margin-top: -230px;margin-left: -140px; font-size: 36px;color:black;">DocuPedia</div>
      <div style="margin-top: 20px;margin-left: 10px;width:210px;color:black; font-size: 14px;">
        Database of samples and presentations to understand the whats and whys of documentation...
      </div>
    </a>

  <a href="#" onclick="$('.slider').liteAccordion('next').liteAccordion('next').liteAccordion('next');" class="btn btn-danger" style="overflow:hidden;margin-top:10px;margin-left: 25px;height:160px;width:370px;border-radius: 20px;">
    <img src="/assets/simulation.jpeg" style="margin-left: 240px;margin-top:-10px;height:270px;width:270px">

    <div style="margin-top: -230px;margin-left: -140px; font-size: 36px;color:black;">DocuCheck</div>
    <div style="margin-top: 20px;margin-left: 10px;width:210px;color:black; font-size: 14px;">
      Practice makes perfect. <br> Learn to spot errors on simulated documents for one-shot documentation...
    </div>
  </a>



</div>
