<div>

  <a href="/docupedia" class="btn btn-inverse" style="overflow:hidden;margin-top:20px;margin-left: 25px;height:240px;width:370px;border-radius: 20px;">
    <img src="/assets/family-papers-400.jpg" style="margin-left: 200px;margin-top:-10px;height:270px;width:270px">

    <div style="margin-top: -200px;margin-left: -120px; font-size: 48px;">DocuPedia</div>
    <div style="margin-top: 30px;margin-left: 10px;width:180px;color:white; font-size: 16px;">
      Look through the database of Tutorials to understand the whats and whys of documentation...
    </div>
  </a>

  <a href="#" class="btn btn-warning" style="overflow:hidden;margin-top:20px;margin-left: 25px;height:240px;width:370px;border-radius: 20px;" target="_blank">
    <img src="/assets/ImportantDocs.jpg" style="margin-left: -240px;margin-top:-10px;height:270px;width:270px">

    <div style="margin-top: -200px;margin-left: 100px;;color:black; font-size: 48px;">DocuSim</div>
    <div style="margin-top: 30px;margin-left: 240px;;color:black; font-size: 16px;">
      Think you have understood everything we had here? Why don't you put it through some practice...
    </div>
  </a>

</div>
