<style type="text/css">

  td{
      color:#ffffff;
  }

</style>

<h2>Listing all the documents</h2>


<table class="table" style="color:white">

  <th>Docket Name</th>
  <th>Link</th>
  <% @documents.each do |document| %>
      <tr>
        <td><%= document.name %></td>
        <td><%= link_to "View pages",view_document_pages_path(:document_id=>document.id) %></td>
      </tr>

  <% end %>
  <tr>
    <td>   <%= link_to "Back",documents_path,:class=>"btn btn-warning" %></td>
  </tr>

</table>